/*begin headder*/
.headder{
    position: fixed;
    background-color: #2d2d2d;
    top: 0;
    height: 15%;
    width: 99%;
    z-index: 1;
    display: flex;
}
.headder-home{
    display: flex;
    font-size: 3rem;
    padding-left: 10px;
    width: 65%;
    position: relative;
    top: 25%;
}
.headder-logo{
    text-decoration: none;
    color: rgb(8, 5, 5);
    font-size: 3.5rem;
    position: relative;
    left: 1%;
    bottom: 10%;
    color: #fff;
}
.headder-logo-name{
    font-size: 2rem;
    float: right;
    padding-top: 10%;
    padding-left: 15px;
}
.headder-btn{
    position: relative;
    left: 20%;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    background-color: #181818;
    color: #fff;
    border: 1px solid #181818;
}
/*Login*/
.headder-login{
    display: flex;
    width: 35%;
    justify-content: space-around;
}
.headder-btn-upgrade{
    display: flex;
    font-size: 18px;
    height: 50%;
    padding: 0px;
    border-radius: 30px;
    position: relative;
    top: 25%;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 9, 7);
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    left: 10%;
}
.headder-user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #170907;
    border-radius: 20px;
    height: 50%;
    position: relative;
    top: 25%;
    padding-right: 15px;
    cursor: pointer;
}
.headder-user:hover{
    background-color: #4e4e4e;
}
.headder-user:hover .headder-user-menu{
    display: block;
}
.headder-user-img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    position: relative;
    right: 2px;
}
.headder-user-name{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.headder-user-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headder-user-icon{
    padding-bottom: 12px;
    padding-left: 5px;
    color: #fff;
}
.headder-user-menu{
    position: absolute;
    top: 100%;
    right: 2%;
    padding: 0;
    margin: 0;
    height: 160px;
    width: 200px;
    border-radius: 4px;
    background-color: #282828;
    overflow: hidden;
    display: none;
}
.headder-user-item{
    list-style: none;
    height: 40px;
    position: relative;
}
.headder-user-item:hover{
    background-color: #4e4e4e;
}
.headder-user-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1rem;
}
/*end headder*/


/*begin side-bar*/
.side-bar{
    position: fixed;
    background-color: #000000;
    height: 70%;
    width: 20%;
    left: 0;
    bottom: 0;
    top: 15%;
}
.side-bar-menu{
    position: fixed;
    margin: 0;
    display: block;
    width: 25%;
    padding: 0;
}
.side-bar-item{
    width: 100%;
    height: 30px;
    padding-top: 10px;
}
.side-bar-item:hover{
    background-color: #807e7e;
}
.side-bar-link{
    text-decoration: none;
    display: flex;
    color: #fff;
    font-size: 1.4rem;
    position: relative;
    left: 10%;
}
.side-bar-use{
    font-weight: 300;
    font-size: 20px;
    position: relative;
    left: 12px;
}
.side-bar-item-plus-playlist{
    position: relative;
    top: 30px;
}
.side-bar-item-plus-playlist-border{
    border-top: 1px solid #282828;
}
.side-bar-item-like{
    position: relative;
    top: 30px;
}
.side-bar-item-option{
    position: relative;
    top: 145px;
}
/*end side-bar*/

/*begin container*/
.container{
   position: relative;
   background-color: #282828;
   width: 80%;
   height: 12000px;
   float: right;
   padding-top: 10%;
}
.container-headder{
    color: #fff;
    position: relative;
    left: 5%;
    bottom: 2%;
    width: 80%;
}
.container-playlist{
    display: flex;
    justify-content: space-around;
}
.container-playlist:last-child{
    padding-top: 5%;
}
.container-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 330px;
    height: 80px;
    background-color: #2d2b2a;
    position: relative;
    left: 0%;
    border-radius: 5px;
    overflow: hidden;
}
.container-player:hover{
    background-color: #807e7e;
}
.container-player-img{
    height: 80px;
}
.container-player-name{
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    right: 10%;
}
.container-player-icon{
    position: relative;
    font-size: 2.4rem;
    color: green;
    right: 5%;
}
.container-music{
    position: relative;
    top: 2%;
}
.container-music-headder{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}
.container-music-theme{
    position: relative;
    left: 5%;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.container-music-all{
    position: relative;
    right: 5%;
    font-size: 1.2rem;
    text-decoration: none;
    color: #808080;
}
/*container-showtime begin*/
.container-showtime{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.container-item{
    text-decoration: none;
    height: 270px;
    width: 190px;
    background-color: #161616;
    color: #fff;
    border-radius: 5px;
}
.container-item:hover{
    background-color: #4e4e4e;
}
.container-item-img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 5px;
}
.container-item-music{
    position: relative;
    top: 25px;
    font-size: 1.2rem;
    left: 20px;
}
.container-item-singer{
    position: relative;
    top: 40px;
    left: 20px;
}
/*container-showtime end*/
/*end container*/



/*begin footer*/
.footer{
    position: fixed;
    background-color: #181818;
    width: 100%;
    bottom: 0;
    height: 15%;
}
/*end footer*/
